* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@font-face {
    font-family: GvTime;
    src: url("Fonts/GvTimeRegular-4B1zD.ttf");
    font-weight: bold;
}

body {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

#game-heading {
    font-family: GvTime;
    font-size: 80px;
    margin-bottom: 0;
    -webkit-text-stroke: .5px #04AA6D;
}

#practice-game-end {
    font-family: GvTime;
    font-size: 20px;
    margin-bottom: 0;
    line-height: .8;
    -webkit-text-stroke: .5px red;
}

#score-line {
    margin-bottom: 25px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif
}

#correct-score,
#incorrect-score {
    font-family: GvTime;
    font-size: 25px;
}

#flag-image {
    display: none;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#new-flag-btn,
#submit-answer-btn,
#reset-game-btn,
#practice-incorrect-flags-btn {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
}

#practice-incorrect-flags-btn {
    display: none;
}

#reset-game-btn {
    margin-top: 20px;
    background-color: red;
}

#country-flag-select {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding: 5px;
    width: 300px;
    /* display: block;
    margin: 0 auto;
    margin-bottom: 25px; */
}

#correct-answer-output {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
}

#tiny-flag {
    height: 40px;
    width: 60px;
    border: 1px solid black;
}

@media screen and (max-width: 574px) {
    #game-heading {
        font-size: 70px;
    }
}

@media screen and (max-width: 515px) {
    #game-heading {
        font-size: 50px;
    }
}

@media screen and (max-width: 371px) {
    #game-heading {
        font-size: 40px;
    }

    #country-flag-select {
        width: 50%;
    }

    #flag-image {
        width: 200px;
        height: 150px;
    }

    #new-flag-btn,
    #submit-answer-btn {
        width: 50%;
        height: 50%;
    }
}